<div class="form">
<form method="post" id="{{_form}}">

<h4>{"Configuring Swiftype"}</h4>

<p><b>{"Step 1."}</b> {"Log into your <a href="https://swiftype.com/home" target="_blank">Swiftype</a> account and create a search engine for your website."}</p>

<p><b>{"Step 2."}</b> {"In the install tab, select <em>Different page</em> and enter <tt>/swiftsearch</tt> in the <em>Search results page address</em>."}</p>

<p><b>{"Step 3."}</b> {"Check <em>"My website needs a search field"</em> and <em>"My website needs a search results container"</em> then save your configuration."}</p>

<p><b>{"Step 4."}</b> {"Click on the <em>"Swiftype install code"</em> link on the same page, then copy and paste the embed code into the form below."}</p>

<h4>{"Swiftype embed code:"}</h4>

<p>
    <textarea name="embed_code" cols="70" rows="8">{{ embed_code }}</textarea><br />
    <span class="notice" id="embed_code-notice">{"Please enter your Swiftype embed code."}</span>
</p>

<p>
    <button>{"Save Settings"}</button>
    &nbsp;
    <a href="/"
       onclick="return confirm ('{'Are you sure you want to cancel?'}')">{"Cancel"}</a>
</p>

</form>
</div>
